/* General */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235cb85c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235cb85c' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
#carouselExampleCaptions {
  margin-bottom: 5rem;
}
.res-frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
#video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Media Queries */
@media (max-width: 414px) {
  .top-survey {
    padding-top: 42rem;
    font-size: xx-large;
  }
  .exp {
    min-width: 100%;
  }
  #plp-top {
    padding-top: 10rem;
  }
  #email-input {
    width: 100% !important;
  }
}
@media (max-width: 375px) {
  .top-survey {
    padding-top: 50rem;
  }
  #tribute-info h2 {
    font-size: x-large;
  }
}
@media (max-width: 320px) {
  .top-survey {
    padding-top: 60rem;
  }
}
@media (max-height: 414px) {
  .top-survey {
    padding-top: 65rem;
  }
  .exp {
    min-width: 100%;
  }
}
@media (max-height: 320px) {
  .top-survey {
    padding-top: 65rem;
  }
}
